<md-card>

  <md-card-title class="edge2edge">
    <md-toolbar class="action-toolbar">
      <div class="action-toolbar-spacer"></div>

        <button class="action-toolbar-item" mdTooltip="{{showFilter ? 'Göm' : 'Visa'}} filter" md-fab (click)="showFilter = !showFilter">
          <md-icon>filter_list</md-icon>
        </button>

        <a class="action-toolbar-item" class="action-toolbar-item"routerLink="create" md-fab mdTooltip="Lägg till ny Summeringsnivå 2">
          <md-icon>add</md-icon>
        </a>
    </md-toolbar>
  </md-card-title>

  <md-card-content>
    <md-checkbox (click)="toggleOnlyOrphan()" [(ngModel)]="onlyOrphan">Endast föräldralösa</md-checkbox>
    <md-checkbox (click)="toggleOnlyUnused()" [(ngModel)]="onlyUnused">Endast oanvända</md-checkbox>
  </md-card-content>

  <md-card-content [@slideIn]="showFilter ? 'in' : 'out'">
    <h4>Summeringsnivå 1</h4>
    <md-chip-list id="prodn1ChipList">
      <md-chip *ngFor="let prodn1 of prodn1s$ | async" selected="{{isSelected(prodn1)}}" (click)="toggle(prodn1)">
        {{prodn1.foretagsnamn}}
      </md-chip>
    </md-chip-list>
  </md-card-content>

  <md-card-content [@slideIn]="showFilter && selectedProdn1.value ? 'in' : 'out'">
    <h4>Summeringsnivå 2</h4>
    <md-chip-list id="prodn2ChipList">
      <md-chip *ngFor="let prodn2 of availableProdn2s$ | async" selected="{{isSelectedProdn2(prodn2)}}" (click)="toggleProdn2(prodn2)">
        {{prodn2.avdelning}}
      </md-chip>
    </md-chip-list>
  </md-card-content>


  <md-card-content>

    <table class="apk-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Företagsnamn</th>
        <th>Kortnamn</th>
        <th>Producent-ID</th>
        <th>N2</th>
        <th>Autoradering</th>
        <th>Raderad</th>
        <th>Redigera</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prodn3 of response?.content">
        <td>{{prodn3.id}}</td>
        <td>{{prodn3.foretagsnamn}}</td>
        <td>{{prodn3.kortnamn}}</td>
        <td>{{prodn3.producentid}}</td>
        <td>{{prodn3.n2}}</td>
        <td>{{prodn3.autoradering}}</td>
        <td>
          <md-icon mdTooltip="Markerad som raderad" *ngIf="prodn3.raderad">clear</md-icon>
        </td>
        <td><a routerLink="{{prodn3.producentid}}/edit">
          <md-icon>edit</md-icon>
        </a></td>
      </tr>
      </tbody>
    </table>
  </md-card-content>

  <md-card-actions *ngIf="response">
    <md-toolbar class="paging-toolbar">
      <div *ngIf="response" class="search-summary">
        Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
      </div>
      <div class="paging-toolbar-spacer"></div>
      <button (click)="previousPage()" md-button [disabled]="response.first"><md-icon>arrow_back</md-icon> Föregående</button>
      <button (click)="nextPage()" md-button [disabled]="response.last">Nästa <md-icon>arrow_forward</md-icon></button>
    </md-toolbar>
  </md-card-actions>
</md-card>
