<md-toolbar>
  <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  {{title}}
</md-toolbar>


<md-sidenav-container class="example-container">
  <md-sidenav class="example-sidenav" #sidenav mode="side" opened="true">
    <!-- sidenav content -->
    <md-list>
      <md-list-item>
        <a routerLink="home">
          <md-icon>home</md-icon> Hem
        </a>
      </md-list-item>
      <md-list-item>
        <a routerLink="apk">
          <md-icon>list</md-icon> Arbetsplatskoder
        </a>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <!-- primary content -->

  <router-outlet></router-outlet>

</md-sidenav-container>




