h1 {
  font-size: 200%;
  font-weight: normal;
  line-height: 140%;
}

h2 {
  font-size: 150%;
  font-weight: normal;
  line-height: 120%;
  margin: 2.0em 0 0.5em 0;
}

h3 {
  font-size: 125%;
  font-weight: normal;
  line-height: 110%;
  margin: 2.0em 0 0.5em 0;
}

h4 {
  font-size: 110%;
  font-weight: normal;
  line-height: 105%;
  margin: 1em 0;
}
