legend {
  color: #444;
  font-size: 1.3em;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;

  border-bottom: none;
  background: #efefef;
  padding-left: 5px;
  padding-right: 5px;
}
