<div class="row">
  <div class="col c12">
    <div class="col-inner">
      <h1>Välkommen till Arbetsplatskodsregistret</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col c6">
    <div class="col-inner">
      <md-card class="info-card">
        <md-card-title>
          <h3>Om Arbetsplatskodsregistret</h3>
        </md-card-title>
        <md-card-content>
          <p>Arbetsplatskodsregistret innehåller information om vårdens arbetsplatskoder. En arbetsplatskod måste vara giltig och finnas på receptet, eller hjälpmedelskortet, för att patienten ska kunna ta del av läkemedelsförmånen.</p>
          <p>Med läkemedelsförmånen avses att vissa mediciner subventioneras via skattemedel. En patient får däremot betala fullt pris för ett läkemedel om koden saknas eller inte är godkänd.</p>
          <p>Källa: eHälsomyndigheten 2017-05-10</p>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div class="col c6">
    <div class="col-inner">
      <md-card class="info-card">
        <md-card-title>
          <h3>Arbetsplatskodsregistret på VGR</h3>
        </md-card-title>
        <md-card-content>
          <p>Informationen i arbetsplatskodsregistret för VGR är öppen för alla invåndaren att läsa.</p>
          <p>Administration av information sker av utvalda administratörer inom Regionen. Dessa personer kan logga in och uppdatera informationen.</p>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>

<!--
<img md-card-image src="assets/images/content/vgr-vard.jpg">
-->
