.action-toolbar.mat-toolbar {

  background: transparent;

  color: #333;
  font-size: 16px;
  font-family: inherit;
  font-weight: normal;
  min-height: auto;
  padding: 5px 0;

  .action-toolbar-item {
    display: inline-block;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  button {
    background: transparent;
    border: none;
    color: #333;
  }

  .mat-fab,
  .mat-fab:visited {
    background-color: $vgr-blue;
    color: #fff;
  }


  .action-toolbar-spacer {
    flex: 1 1 auto;
  }

  .mat-input-wrapper {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }


}
