.apk-table {

  border-spacing: 0;

  th {
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;

    color: rgba(0, 0, 0, 0.57);


    .sort-button {
      color: rgba(0, 0, 0, 0.57);

      &.sort-field {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  td {
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 3px;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  a,
  a:visited {
    color: #333;
  }

  // Used for listing apks (= "arbetsplatskoder")
  &.apks-table {
    table-layout: fixed;

    .row-apk { width: 15%; }

    .row-name { width: 30%; }

    .row-prod1 { width: 10%; }

    .row-prod2 { width: 10%; }

    .row-reg-date { width: 10%; }

    .row-to-date { width: 10%; }

    .row-status { width: 10%; }

    .row-menu { width: 5%; }
  }

  // Used for listing users
  &.users-table {
    table-layout: fixed;

    .row-id { width: 10%; }

    .row-first-name { width: 15%; }

    .row-last-name { width: 25%; }

    .row-email { width: 25%; }

    .row-permissions { width: 15%; }

    .row-prod1 { width: 15%; }

    .row-menu { width: 5%; }
  }

  // Used for listing prod1
  &.prod1-table {
    table-layout: fixed;

    .row-id { width: 10%; }

    .row-name { width: 35%; }

    .row-short-name { width: 20%; }

    .row-prod-id { width: 15%; }

    .row-status { width: 15%; }

    .row-menu { width: 5%; }
  }

  // Used for listing prod2
  &.prod2-table {
    table-layout: fixed;

    .row-id { width: 5%; }

    .row-department { width: 20%; }

    .row-short-name { width: 20%; }

    .row-prod-id { width: 10%; }

    .row-prod1 { width: 10%; }

    .row-benchmark { width: 10%; }

    .row-status { width: 10%; }

    .row-menu { width: 5%; }

  }

  &.prod3-table {
    table-layout: fixed;

    .row-id { width: 5%; }

    .row-name { width: 20%; }

    .row-short-name { width: 20%; }

    .row-prod-id { width: 10%; }

    .row-prodn1 { width: 15%; }

    .row-prodn2 { width: 15%; }

    .row-status { width: 10%; }

    .row-menu { width: 5%; }

  }

}
