.apk-table-filter-row {

  //display: none;

  &.hide {
    display: none;
  }

  td {
    background: #eee;
  }


  .apk-table-filter-field {


    input[type="text"] {
      background: #fff;
      border: 1px solid #ccc;
      padding: 5px 5px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      width: 100%;
    }


    // .mat-form-field-wrapper {
    //   padding-bottom: 0.2em;
    // }

    // .mat-form-field-underline {
    //     bottom: 0.2em;
    // }

    // .mat-input-placeholder-wrapper {

    //   .mat-input-placeholder {
    //       display: none;

    //       &.mat-form-field-empty {
    //         display: block;
    //       }
    //   }


    // }

    // .mat-form-field-infix {
    //   border-top: 0px solid transparent;
    // }

    // &.mat-focused {
    //   .mat-input-placeholder-wrapper {
    //     display: none;
    //   }
    // }


  }

  .mat-select {
    width: 80%;
  }




}
