.apk-dialog {


  .mat-dialog-container {

    padding: 20px;

    .mat-dialog-title {
      background: $vgr-blue;
      color: white;
      font-weight: normal;
      padding: 5px 10px;
      margin: -20px -20px 20px -20px;




    }

  }

}
