.link-box {

  background: white;
  color: $vgr-blue;
  display: block;
  padding: 0;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  @include border-radius(2px);

  // Clearfix
  &:after {
      content:" ";
      display:table;
      clear:both;
  }

  .link-box-icon {
    background: $vgr-blue;
    color: white;

    float: left;
    font-size: 48px;
    height: 48px;
    padding: 10px;
    width: 48px;
    margin: 1px;

    @include border-radius(2px 0 0 2px);
  }

  .link-box-label {
    display: block;
    float: left;
    font-size: 1.2em;
    height: 68px;
    line-height: 68px;
    position: relative;
    margin: 1px;

    padding: 0 12px;
  }

  &:hover {

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.4), 0 2px 2px 0 rgba(0,0,0,.28), 0 1px 5px 0 rgba(0,0,0,.24);

    background: $vgr-blue;
    color: white;

  }

}
