.menu-bar.mat-toolbar {

  min-height: auto;

  .mat-toolbar-row {
    height: auto;
  }

  a,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  .mat-list {
    display: flex;
    padding: 0;

    .mat-list-item {
      .mat-list-item-content {
        height: auto;
        padding: 0;

        a {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          font-weight: normal;
          padding: 15px 40px;

          &.active {
            border-bottom-color: orange;
          }

        }

      }
    }

  }

}
