.sort-button,
.sort-button.mat-button {

  border-radius: 0;
  font-size: 100%;
  font-weight: bold;
  padding: 0;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &.sort-field {
    &.desc {
      .mat-icon {
        transform: rotate(180deg);
      }
    }
  }


}
