<md-sidenav-container class="example-container" fxFlex>

  <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>dehaze</md-icon>
  </button>

  <md-sidenav class="example-sidenav" #sidenav mode="side" align="start" opened="false">

    <md-list>
      <md-list-item>
        <a routerLink="landing" routerLinkActive="active">
          <md-icon>home</md-icon>
          <span class="nav-label">Översikt</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="admin">
        <a routerLink="old-users" routerLinkActive="active">
          <md-icon>people</md-icon>
          <span class="nav-label">Användare (gamla)</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="admin">
        <a routerLink="users" routerLinkActive="active">
          <md-icon>people</md-icon>
          <span class="nav-label">Användare (nya)</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="loggedIn">
        <a routerLink="prodn1" routerLinkActive="active">
          <md-icon>list</md-icon>
          <span class="nav-label">Summeringsnivå 1</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="loggedIn">
        <a routerLink="prodn2" routerLinkActive="active">
          <md-icon>list</md-icon>
          <span class="nav-label">Summeringsnivå 2</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="loggedIn">
        <a routerLink="prodn3" routerLinkActive="active">
          <md-icon>list</md-icon>
          <span class="nav-label">Summeringsnivå 3</span>
        </a>
      </md-list-item>
      <md-list-item *ngIf="admin">
        <a routerLink="ao3" routerLinkActive="active">
          <md-icon>list</md-icon>
          <span class="nav-label">Ao3</span>
        </a>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <!-- primary content -->

  <router-outlet></router-outlet>

</md-sidenav-container>
