<mat-sidenav-container class="example-container" fxFlex>

  <mat-sidenav class="example-sidenav" #sidenav mode="side" align="start" [opened]="sidebarOpen">

    <mat-list>
      <mat-list-item>
        <a routerLink="landing" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span class="nav-label">Översikt</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="admin">
        <a routerLink="old-users" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span class="nav-label">Användare (gamla)</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="admin">
        <a routerLink="users" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          <span class="nav-label">Användare (nya)</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="loggedIn">
        <a routerLink="prodn1" routerLinkActive="active">
          <mat-icon>list</mat-icon>
          <span class="nav-label">Concise SumNivå 1</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="loggedIn">
        <a routerLink="prodn2" routerLinkActive="active">
          <mat-icon>list</mat-icon>
          <span class="nav-label">Concise SumNivå 2</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="loggedIn">
        <a routerLink="prodn3" routerLinkActive="active">
          <mat-icon>list</mat-icon>
          <span class="nav-label">Concise SumNivå 3</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="admin">
        <a routerLink="ao3" routerLinkActive="active">
          <mat-icon>business_center</mat-icon>
          <span class="nav-label">Motpart</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="admin">
        <a routerLink="vardform" routerLinkActive="active">
          <mat-icon>local_pharmacy</mat-icon>
          <span class="nav-label">Vårdform</span>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="admin">
        <a routerLink="verksamhet" routerLinkActive="active">
          <mat-icon>domain</mat-icon>
          <span class="nav-label">Medicinsk verksamhetskod</span>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <!-- primary content -->

  <router-outlet></router-outlet>

</mat-sidenav-container>
