# Created by .ignore support plugin (hsz.mobi)
.idea
target
*.iml
/database-cache/
/clone-of-samba-drive/
/my-build.sh

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Temporary data file
core-bc/composites/svc/src/main/resources/units.json

# Build / deploy scripts
build-client.sh
deploy-client-test.sh
deploy-client.sh
deploy-server-test.sh
deploy-server.sh