<mat-card *ngIf="anvandares">
  <mat-card-content>

    <table class="apk-table">

      <thead>
      <tr>
        <th>ID</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>E-post</th>
        <th>Behörighet</th>
        <th>Sorteringskod</th>
        <!--<th></th>-->
        <!--<th></th>-->
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let anvandare of anvandares">
        <td>{{anvandare.uid}}</td>
        <td>{{anvandare.fnamn}}</td>
        <td>{{anvandare.enamn}}</td>
        <td>{{anvandare.email}}</td>
        <td>{{anvandare.behorighet}}</td>
        <td>{{anvandare.sorteringskodProd}}</td>
        <!--<td><a routerLink="{{anvandare.id}}"><mat-icon>folder_open</mat-icon></a></td>-->
        <!--<td><a routerLink="{{anvandare.id}}/edit"><mat-icon>edit</mat-icon></a></td>-->
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
