<h1 mat-dialog-title>Logga in</h1>

<div class="alert alert-danger" *ngIf="loginMessage">{{loginMessage}}</div>

<form #loginForm="ngForm" class="login-form">
  <p>
    Särskild behörighet krävs. Frågor besvaras av din kontaktperson.
  </p>
  <div>
    <mat-input-container>
      <input placeholder="VGR-ID" type="text" matInput [(ngModel)]="userId" name="USER" required>
    </mat-input-container>
  </div>

  <div>
    <mat-input-container>
      <input placeholder="Lösenord" type="password" matInput [(ngModel)]="password" name="PASSWORD" required>
    </mat-input-container>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="login()" mat-raised-button>Logga in</button>
  </div>
</form>
