<md-toolbar class="action-toolbar">
  <h1>
     Användare
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" routerLink="create" md-fab mdTooltip="Lägg till ny användare"><md-icon>person_add</md-icon></a>
  <app-sidenav-toggle-button></app-sidenav-toggle-button>
</md-toolbar>

<md-card>

  <md-card-content>

    <table class="apk-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>E-post</th>
        <th>Behörighet</th>
        <th>Sorteringskod 1</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.role}}</td>
        <td>{{prodn1sToString(user.prodn1s)}}</td>

        <td>
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item routerLink="{{user.id}}/edit">
              <md-icon>edit</md-icon>
              <span>Redigera</span>
            </button>
            <button md-menu-item (click)="confirmDeleteTODO(user)">
              <md-icon>delete</md-icon>
              <span>Ta bort</span>
            </button>
            <button md-menu-item (click)="impersonate(user)">
              <md-icon>transfer_within_a_station</md-icon>
              <span>Uppträd som</span>
            </button>
          </md-menu>

        </td>

      </tr>
      </tbody>

    </table>

  </md-card-content>
</md-card>
