<mat-toolbar class="action-toolbar">
  <h1>
     Användare
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" routerLink="create" mat-fab matTooltip="Lägg till ny användare"><mat-icon>person_add</mat-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<mat-card>

  <mat-card-content>

    <table class="apk-table users-table">
      <thead>
      <tr>
        <th class="row-first-name">Förnamn</th>
        <th class="row-last-name">Efternamn</th>
        <th class="row-id">VGR-ID</th>
        <th class="row-email">E-post</th>
        <th class="row-permissions">Behörighet</th>
        <th class="row-prod1">Concise SumNivå 1</th>
        <th class="row-menu"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.id}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.role}}</td>
        <td>

          <span class="bubble" matTooltip="{{prodn1sToString(user.prodn1s)}}">{{count(user.prodn1s)}}</span>
          <!--
          <a href="#" (click)="false" matTooltip="{{prodn1sToString(user.prodn1s)}}">{{count(user.prodn1s)}} st</a>
          -->
        </td>

        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="{{user.id}}/edit">
              <mat-icon>edit</mat-icon>
              <span>Redigera</span>
            </button>
            <button *ngIf="usersWithoutData.indexOf(user.id) === -1" mat-menu-item (click)="confirmDelete(user)">
              <mat-icon>delete</mat-icon>
              <span>Ta bort</span>
            </button>
            <button mat-menu-item (click)="impersonate(user)">
              <mat-icon>transfer_within_a_station</mat-icon>
              <span>Uppträd som</span>
            </button>
          </mat-menu>

        </td>

      </tr>
      </tbody>

    </table>

  </mat-card-content>
</mat-card>
