<md-toolbar class="action-toolbar">
  <h1>
    {{verksamhet.verksamhettext === undefined ? 'Skapa ny Verksamhet' : 'Redigera ' + verksamhet.verksamhettext}}
  </h1>
  <div class="action-toolbar-spacer"></div>
  <app-back-button class="action-toolbar-item"></app-back-button>
</md-toolbar>

<md-card>
  <md-card-content>

    <div *ngIf="verksamhetForm; else loading">

      <form #formRef="ngForm" [formGroup]="verksamhetForm" (ngSubmit)="save()" novalidate (autocomplete)="false">

        <md-input-container>
          <input placeholder="ID" type="text" mdInput formControlName="id"/>
        </md-input-container>

        <md-input-container>
          <input placeholder="Verksamhet-ID" type="text" mdInput formControlName="verksamhetid"/>
        </md-input-container>

        <md-input-container>
          <input placeholder="Verksamhettext" type="text" mdInput formControlName="verksamhettext"/>
        </md-input-container>

        <div class="checkbox-container">
          <md-checkbox formControlName="raderad">Raderad</md-checkbox>
        </div>

        <div class="btn-container">
          <button type="submit"
                  [disabled]="verksamhetForm.pristine" md-raised-button class="btn btn-success">Spara
          </button> &nbsp;
          <button type="button"
                  [disabled]="verksamhetForm.pristine" md-raised-button class="btn" (click)="resetForm()">Återställ
          </button> &nbsp;
          {{saveMessage}}
        </div>
      </form>

    </div>

    <ng-template #loading>Läser in...</ng-template>

  </md-card-content>
</md-card>
