#prodn1ChipList mat-chip {
  display: inline;
  margin-bottom: 8px;
  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }
}

#prodn1ChipList mat-chip mat-icon {
  font-size: 1em;
  height: 10px;
  vertical-align: middle;
  width: 10px;
}
