.footer {
  background: $vgr-blue;
  color: #fff;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  //padding-top: 20px;
  //padding-bottom: 20px;

  .mat-toolbar {
    background: transparent;
    color: #fff;
    padding-top: 20px;
  }

  .logo-link {
    margin: 0 auto;
  }

  .logo {
    margin: 0 auto;
    width: 200px;
  }

}
