.footer {
  background: $vgr-blue;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  .mat-toolbar {
    background: transparent;
    color: #fff;
  }

  .logo {
    margin: 0 auto;
    width: 200px;
  }

}
