.header {
  background: $vgr-blue;
  color: #fff;

  .logo {
    margin: 0 auto;
    width: 400px;
  }

  .mat-toolbar {
    background: transparent;
    color: #fff;
    font-size: 1.0em;
    font-weight: normal;
  }

  .menu-toggle {
    background: transparent;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
  }

  .header-toolbar-spacer {
    flex: 1 1 auto;
  }

  .header-controls {

    .user-avatar {
      height: 32px;
      width: 32px;
    }

    .header-control-item {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }

  }

  .header-top-bar {
    background: darken($vgr-blue, 10);
    padding: 10px 0;
  }

  .header-menu-bar {
    background: $vgr-blue;
  }


}
