<md-toolbar class="action-toolbar">
  <h1>
    Verksamhet
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" class="action-toolbar-item"routerLink="create" md-fab mdTooltip="Lägg till ny verksamhet"><md-icon>add</md-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</md-toolbar>

<md-card>

  <md-card-content>

    <table class="apk-table">
      <thead>
      <tr>
        <th class="row-verksamhets-id">Verksamhets-ID</th>
        <th class="row-verksamhets-text">Verksamhetstext</th>
        <th class="row-status">Status</th>
        <th class="row-menu"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let verksamhet of verksamhets$ | async">
        <td>{{verksamhet.verksamhetid}}</td>
        <td>{{verksamhet.verksamhettext}}</td>
        <td>
          <md-icon mdTooltip="Markerad som inaktiverad" *ngIf="verksamhet.raderad">clear</md-icon>
        </td>
        <td>
          <a routerLink="{{verksamhet.id}}/edit" mdTooltip="Redigera">
            <md-icon>edit</md-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </md-card-content>

</md-card>
