<mat-toolbar class="action-toolbar">
  <h1>
    Medicinsk verksamhetskod
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" class="action-toolbar-item"routerLink="create" mat-fab matTooltip="Lägg till ny verksamhet"><mat-icon>add</mat-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<p>
  Arbetsplatsens verksamhet enligt eHälsomyndigheten.
</p>

<mat-card>

  <mat-card-content>

    <table class="apk-table">
      <thead>
      <tr>
        <th class="row-verksamhets-id">Verksamhets-ID</th>
        <th class="row-verksamhets-text">Verksamhetstext</th>
        <th class="row-status">Status</th>
        <th class="row-menu"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let verksamhet of verksamhets$ | async">
        <td>{{verksamhet.verksamhetid}}</td>
        <td>{{verksamhet.verksamhettext}}</td>
        <td>
          <mat-icon matTooltip="Markerad som inaktiverad" *ngIf="verksamhet.raderad">clear</mat-icon>
        </td>
        <td>
          <a routerLink="{{verksamhet.id}}/edit" matTooltip="Redigera">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>

</mat-card>
