<mat-toolbar class="action-toolbar">
  <h1>
     Arbetsplatskoder
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" mat-fab routerLink="create" matTooltip="Lägg till ny arbetsplatskod" *ngIf="loggedIn"><mat-icon>add</mat-icon></a>
</mat-toolbar>

<mat-card>

  <mat-card-title class="edge2edge">

    <mat-toolbar class="action-toolbar">

      <mat-input-container class="action-toolbar-item" (keydown)="$event.stopPropagation();">
        <input matInput placeholder="Skriv in arbetsplatskod, benämning, datum med mera för att filtrera listan nedan..." [formControl]="stateCtrl" [(ngModel)]="query">
      </mat-input-container>

      <mat-checkbox class="action-toolbar-item" [formControl]="onlyMyDatasCtrl" [(ngModel)]="onlyMyDatas" *ngIf="loggedIn">Bara <span class="tooltip-text" matTooltip="{{usersProdn1sString$ | async}}">mina arbetsplatskoder</span></mat-checkbox>

      <mat-checkbox class="action-toolbar-item" [formControl]="onlyActiveDatasCtrl" [(ngModel)]="onlyActiveDatas">Bara aktiva arbetsplatskoder</mat-checkbox>

      <div class="action-toolbar-spacer"></div>

    </mat-toolbar>

  </mat-card-title>

  <mat-card-content>
    <table *ngIf="response" class="apk-table apks-table">
      <thead>
        <tr>
          <th class="row-apk" matTooltip="Krävs på elektroniska och pappersrecept för läkemedelssubvention">
            Arbetsplatskod
          </th>
          <th class="row-name" matTooltip="Arbetsplatsens namn">
            <button class="sort-button" mat-button (click)="toggleSort('benamning')" [ngClass]="{'sort-field': sort?.field === 'benamning', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
              Benämning <mat-icon>arrow_drop_up</mat-icon>
            </button>
          </th>
          <th class="row-prod1" matTooltip="Grundnivå för organisation i Concise statistiksystem">
            Concise SumNivå 1
          </th>
          <th class="row-prod2" matTooltip="Mellannivå för organisation i Concise statistiksystem">
            Concise SumNivå 2
          </th>
          <th class="row-prod3" matTooltip="Undernivå för organisation i Concise statistiksystem">
            Concise SumNivå 3
          </th>
          <th class="row-ansvar" matTooltip="Ekonomisk kod">
            Ansvar
          </th>
          <th class="row-to-date">
            <button class="sort-button" mat-button (click)="toggleSort('tillDatum')" [ngClass]="{'sort-field': sort?.field === 'tillDatum', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
              Giltig till <mat-icon>arrow_drop_up</mat-icon>
            </button>
          </th>
          <th class="row-status" matTooltip="Händelser som påverkar arbetsplatskoden t.ex. giltighet">
            Status
          </th>
          <th class="row-menu" matTooltip="Klicka på prickarna för att visa flera val">Meny</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of response.content">
          <td>
            <a routerLink="{{data.id}}" routerLinkActive="active">
              {{data.arbetsplatskodlan}}
            </a>
          </td>
          <td>
            <a routerLink="{{data.id}}" routerLinkActive="active">
              <span matTooltip="{{data.benamning?.length > 35 ? data.benamning : null}}">{{data.benamning | ellipsis:35}}</span>
            </a>
          </td>
          <td>
            <span matTooltip="{{data.prodn1?.kortnamn?.length > 12 ? data.prodn1.kortnamn : null}}">{{data.prodn1?.kortnamn | ellipsis:12}}</span>
          </td>
          <td>
            <span matTooltip="{{data.prodn3?.prodn2?.kortnamn?.length > 12 ? data.prodn3?.prodn2?.kortnamn : null}}">{{data.prodn3?.prodn2?.kortnamn | ellipsis:12}}</span>
          </td>
          <td>
            <span matTooltip="{{data.prodn3?.kortnamn?.length > 12 ? data.prodn3?.kortnamn : null}}">{{data.prodn3?.kortnamn | ellipsis:12}}</span>
          </td>
          <td>
            {{data.ansvar}}
          </td>
          <td>
            {{data.tillDatum ? data.tillDatum : 'Tills vidare'}}
          </td>
          <td>
            <mat-icon *ngIf="getStatus(data) === 'closed'" style="color: #ebb62f;" matTooltip="Giltighetsdatum passerat.">error</mat-icon>
            <mat-icon *ngIf="getStatus(data) === 'fullyClosed'" style="color: #d33;" matTooltip="Giltighetsdatum passerat för över ett år sedan.">error</mat-icon>
            <mat-icon *ngIf="data.hsaidMissingInKiv" style="color: #dd7900;" matTooltip="HSA-ID saknas i KIV">warning</mat-icon>
          </td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="{{data.id}}">
                <mat-icon>folder_open</mat-icon>
                <span>Visa detaljer</span>
              </button>
              <button mat-menu-item routerLink="{{data.id}}/edit" *ngIf="userHasEditPermission(data)" [disabled]="getStatus(data) === 'closed' || getStatus(data) === 'fullyClosed'">
                <mat-icon>edit</mat-icon>
                <span>Redigera</span>
                <mat-icon *ngIf="getStatus(data) === 'closed' || getStatus(data) === 'fullyClosed'" matTooltip="Redigera ej möjligt när giltighetsdatum passerat">info</mat-icon>
              </button>
              <button mat-menu-item *ngIf="userHasEditPermission(data)" [disabled]="!data.deletable" (click)="confirmDelete(data)">
                <mat-icon>delete</mat-icon>
                <span>Radera</span>&nbsp;
                <mat-icon *ngIf="!data.deletable" matTooltip="Radera ej möjligt efter post skickats till EHM">info</mat-icon>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>

  <mat-card-actions *ngIf="response">

    <mat-toolbar class="paging-toolbar">
      <div *ngIf="response" class="search-summary">
        Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
      </div>

      <div class="paging-toolbar-spacer"></div>

      <button (click)="previousPage()" mat-button [disabled]="response.first"><mat-icon>arrow_back</mat-icon> Föregående</button>
      <button (click)="nextPage()" mat-button [disabled]="response.last">Nästa <mat-icon>arrow_forward</mat-icon></button>

      <div class="paging-toolbar-spacer"></div>

      <mat-form-field class="select-page-field">
        <mat-select placeholder="Välj sida" [(ngModel)]="selectedPage" (change)="goToSelectedPage()" >
          <mat-option *ngFor="let page of totalPagesArr" [value]=page>Sida {{page}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>

  </mat-card-actions>

</mat-card>
