<md-toolbar class="action-toolbar">
  <h1>
     Arbetsplatskoder
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" md-fab routerLink="create" mdTooltip="Lägg till ny arbetsplatskod" *ngIf="loggedIn"><md-icon>add</md-icon></a>
</md-toolbar>

<md-card>

  <md-card-title class="edge2edge">

    <md-toolbar class="action-toolbar">

      <md-input-container class="action-toolbar-item">
        <input mdInput placeholder="Filtrera" [formControl]="stateCtrl" [(ngModel)]="query">
      </md-input-container>

      <md-checkbox class="action-toolbar-item" [formControl]="onlyMyDatasCtrl" [(ngModel)]="onlyMyDatas" *ngIf="loggedIn">Visa endast <span class="tooltip-text" mdTooltip="{{usersProdn1sString$ | async}}">mina arbetsplatskoder</span></md-checkbox>

      <div class="action-toolbar-spacer"></div>

    </md-toolbar>

  </md-card-title>

  <md-card-content>
    <table *ngIf="response" class="apk-table">
      <thead>
        <tr>
          <th>
            Arbetsplatskod
          </th>
          <th>
            <button class="sort-button" md-button (click)="toggleSort('benamning')" [ngClass]="{'sort-field': sort?.field === 'benamning', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
              Benämning <md-icon>arrow_drop_up</md-icon>
            </button>
          </th>
          <th>
            Nivå 1
          </th>
          <th>
            Nivå 2
          </th>
          <th>
            <button class="sort-button" md-button (click)="toggleSort('regDatum')" [ngClass]="{'sort-field': sort?.field === 'regDatum', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
              Reg-datum <md-icon>arrow_drop_up</md-icon>
            </button>
          </th>
          <th>
            <button class="sort-button" md-button (click)="toggleSort('tillDatum')" [ngClass]="{'sort-field': sort?.field === 'tillDatum', 'asc': sort?.ascending, 'desc': sort?.ascending === false}">
              Giltig till <md-icon>arrow_drop_up</md-icon>
            </button>
          </th>
          <th>
            Status
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of response.content">
          <td>
            <a routerLink="{{data.id}}" routerLinkActive="active">
              {{data.arbetsplatskodlan}}
            </a>
          </td>
          <td>
              <span mdTooltip="{{data.benamning}}">{{data.benamning | ellipsis:30}}</span>
          </td>
          <td>
            <span mdTooltip="{{data.prodn1.kortnamn}}">{{data.prodn1.kortnamn | ellipsis:10}}</span>
          </td>
          <td>
            <span mdTooltip="{{data.prodn3.prodn2.kortnamn}}">{{data.prodn3.prodn2.kortnamn | ellipsis:10}}</span>
          </td>

          <td>
            {{data.regDatum | date: 'yyyy-MM-dd'}}
          </td>
          <td>
            {{data.tillDatum ? data.tillDatum : 'Tills vidare'}}
          </td>
          <td>
            <md-icon *ngIf="getStatus(data) === 'closed'" style="color: #ebb62f;" mdTooltip="Giltighetsdatum passerat.">warning</md-icon>
            <md-icon *ngIf="getStatus(data) === 'fullyClosed'" style="color: #d33;" mdTooltip="Giltighetsdatum passerat för över ett år sedan.">error</md-icon>
          </td>
          <td>
            <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item routerLink="{{data.id}}">
                <md-icon>folder_open</md-icon>
                <span>Visa detaljer</span>
              </button>
              <button md-menu-item routerLink="{{data.id}}/edit" *ngIf="userHasEditPermission(data)" [disabled]="getStatus(data) === 'closed' || getStatus(data) === 'fullyClosed'">
                <md-icon>edit</md-icon>
                <span>Redigera</span>
                <md-icon *ngIf="getStatus(data) === 'closed' || getStatus(data) === 'fullyClosed'" mdTooltip="Redigera ej möjligt när giltighetsdatum passerat">info</md-icon>
              </button>
              <button md-menu-item *ngIf="userHasEditPermission(data)" [disabled]="!data.deletable" (click)="confirmDelete(data)">
                <md-icon>delete</md-icon>
                <span>Radera</span>&nbsp;
                <md-icon *ngIf="!data.deletable" mdTooltip="Radera ej möjligt efter post skickats till EHM">info</md-icon>
              </button>
            </md-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>

  <md-card-actions *ngIf="response">

    <md-toolbar class="paging-toolbar">
      <div *ngIf="response" class="search-summary">
        Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
      </div>
      <div class="paging-toolbar-spacer"></div>
      <button (click)="previousPage()" md-button [disabled]="response.first"><md-icon>arrow_back</md-icon> Föregående</button>
      <button (click)="nextPage()" md-button [disabled]="response.last">Nästa <md-icon>arrow_forward</md-icon></button>
    </md-toolbar>

  </md-card-actions>

</md-card>
