<mat-toolbar class="action-toolbar">
  <h2>
     {{prodn2.kortnamn === undefined ? 'Lägg till ny Concise SumNivå 2' : 'Redigera ' + prodn2.kortnamn}}
  </h2>
  <div class="action-toolbar-spacer"></div>
  <app-back-button class="action-toolbar-item"></app-back-button>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<mat-card>
  <mat-card-content>

    <div *ngIf="prodn2Form; else loading">

      <form #formRef="ngForm" [formGroup]="prodn2Form" (ngSubmit)="save()" novalidate (autocomplete)="false">

        <mat-input-container>
          <input placeholder="ID" type="text" matInput formControlName="id"/>
        </mat-input-container>

        <mat-input-container>
          <input placeholder="Concise SumNivå 2" type="text" matInput formControlName="kortnamn"/>
        </mat-input-container>

        <div>
          <mat-form-field>
            <mat-select placeholder="Concise SumNivå 1" formControlName="prodn1" ngClass="{{prodn2Form.submitted ? 'submitted' : ''}}">
              <mat-option *ngFor="let prodn1 of prodn1Options" [value]="prodn1.id">
                {{prodn1.kortnamn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="checkbox-contaienr">
          <mat-checkbox formControlName="raderad">Raderad</mat-checkbox>
        </div>

        <div class="btn-container">
          <button type="submit"
                  [disabled]="prodn2Form.pristine" mat-raised-button class="btn btn-success">Spara
          </button> &nbsp;
          <button type="button"
                  [disabled]="prodn2Form.pristine" mat-raised-button class="btn" (click)="resetForm()">Återställ
          </button> &nbsp;
          {{saveMessage}}
        </div>
      </form>

    </div>

    <ng-template #loading>Läser in...</ng-template>

  </mat-card-content>
</mat-card>
