<div *ngIf="data">

  <mat-toolbar class="action-toolbar">
    <h1>
       Arbetsplatskod: {{data.arbetsplatskodlan}}
       <mat-icon *ngIf="getStatus(data) === 'closed'" style="color: #ebb62f;" matTooltip="Giltighetsdatum passerat.">error</mat-icon>
       <mat-icon *ngIf="getStatus(data) === 'fullyClosed'" style="color: #d33;" matTooltip="Giltighetsdatum passerat för över ett år sedan.">error</mat-icon>
       <mat-icon *ngIf="data.hsaidMissingInKiv" style="color: #dd7900;" matTooltip="HSA-ID saknas i KIV">warning</mat-icon>
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
    <a class="action-toolbar-item" mat-fab routerLink="edit" matTooltip="Redigera arbetsplatskod" *ngIf="userHasEditPermission(data) && getStatus(data) !== 'closed' && getStatus(data) !== 'fullyClosed'">
      <mat-icon>edit</mat-icon>
    </a>
  </mat-toolbar>

    <mat-card class="example-card">

      <mat-card-content>

        <div class="row">
        	<div class="col c12">
        		<div class="col-inner">
              <div class="apk-details apk-details-highlight">

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Benämning:</div>
                  <div class="apk-details-item-data">
                    {{data.benamning}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Kortnamn:</div>
                  <div class="apk-details-item-data">
                    {{data.benamningKort}}
                  </div>
                </div>


                <div class="apk-details-item">
                  <div class="apk-details-item-label">HSA-ID:</div>
                  <div class="apk-details-item-data">
                    {{data.hsaid}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Adress:</div>
                  <div class="apk-details-item-data">
                    {{data.postadress}} <br />
                    {{data.postnr}} {{data.postort}}
                  </div>
                </div>
              </div>
            </div>
        	</div>
        </div>

        <div class="row">

        	<div class="col c6">
        		<div class="col-inner">

              <div class="apk-details">
              <h3>Ekonomiska koder</h3>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Motpart:</div>
                  <div class="apk-details-item-data">
                    {{data.ao3}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Ansvar:</div>
                  <div class="apk-details-item-data">
                    {{data.ansvar}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Faktureras externt:</div>
                  <div class="apk-details-item-data">
                    {{data.externfakturamodell}}
                  </div>
                </div>

                <div class="apk-details-item" *ngIf="data.externfakturamodell === 'ovr'">
                  <div class="apk-details-item-label">Vårdgivarkod:</div>
                  <div class="apk-details-item-data">
                    {{data.externfaktura}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">VGPV:</div>
                  <div class="apk-details-item-data">
                    {{data.vgpv === true ? "ja" : "nej"}}
                  </div>
                </div>

              </div>

            </div>
        	</div>

        	<div class="col c6">
        		<div class="col-inner">

              <div class="apk-details">
                <h3>Vårdadministrativa koder</h3>
                <div class="apk-details-item">
                  <div class="apk-details-item-label">Vårdform:</div>
                  <div class="apk-details-item-data">
                    {{data.vardform}}
                  </div>
                </div>
                <div class="apk-details-item">
                  <div class="apk-details-item-label">Medicinsk verksamhetskod:</div>
                  <div class="apk-details-item-data">
                    {{data.verksamhet}}
                  </div>
                </div>
              </div>

            </div>
        	</div>

        </div>

        <div class="row">

          <div class="col c6">
        		<div class="col-inner">

              <div class="apk-details">
                <h3>Concise SumNivå</h3>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Concise SumNivå 1:</div>
                  <div class="apk-details-item-data">
                    {{data.prodn1.kortnamn}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Concise SumNivå 2:</div>
                  <div class="apk-details-item-data">
                    {{data.prodn3.prodn2.kortnamn}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Concise SumNivå 3:</div>
                  <div class="apk-details-item-data">
                    {{data.prodn3.kortnamn}}
                  </div>
                </div>
              </div>

            </div>
        	</div>

          <div class="col c6">
        		<div class="col-inner">

              <div class="apk-details">
                <h3>Giltighetstid</h3>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Giltig fr.o.m:</div>
                  <div class="apk-details-item-data">
                    {{data.fromDatum | dateX: 'YYYY-MM-DD'}}
                  </div>
                </div>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Giltig t.o.m:</div>
                  <div class="apk-details-item-data">
                    {{(!data.tillDatum || data.tillDatum.length == 0) ? "Tills vidare" : (data.tillDatum | dateX: 'YYYY-MM-DD')}}
                  </div>
                </div>

                <div *ngIf="($replacedBy | async)?.id">
                  <div class="apk-details-item">
                    <div class="apk-details-item-label">Ersatt av:</div>
                    <div class="apk-details-item-data">
                      <a routerLink="/apk/{{($replacedBy | async)?.id}}">{{($replacedBy | async)?.arbetsplatskodlan}}</a>
                    </div>
                  </div>
                </div>

                <div *ngIf="($replaces | async)?.length > 0">
                  <div class="apk-details-item">
                    <div class="apk-details-item-label">Ersätter:</div>
                    <div class="apk-details-item-data">
                      <div *ngFor="let data of $replaces | async">
                        <a routerLink="/apk/{{data.id}}">{{data.arbetsplatskodlan}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        	</div>

        </div>

        <div class="row">
        	<div class="col c6">
        		<div class="col-inner">
              <div class="apk-details">
                <h3>Övrig info</h3>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Anmärkning:</div>
                  <div class="apk-details-item-data">
                    {{data.anmarkning || '-'}}
                  </div>
                </div>
              </div>
            </div>
        	</div>
        	<div class="col c6">
        		<div class="col-inner">
              <div class="apk-details">
                <h3>Tidigare versioner</h3>

                <div class="apk-details-item">
                  <div class="apk-details-item-label">Tidigare versioner:</div>
                  <div class="apk-details-item-data">
                    <a *ngIf="archivedDatas.length > 0" routerLink="/apk/{{data.id}}/archivedDatas">{{archivedDatas.length}} st</a>
                    <span *ngIf="archivedDatas.length === 0">0 st</span>
                  </div>
                </div>
              </div>
            </div>
        	</div>
        </div>



      </mat-card-content>
    </mat-card>

    <mat-toolbar class="meta-toolbar">

      <div class="meta-toolbar-item">
        <span>Skapad:</span> <span>{{data.regDatum | dateX: 'YYYY-MM-DD HH:mm'}}</span>
      </div>

      <div class="meta-toolbar-item">
        <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
      </div>

      <div class="meta-toolbar-item">
        <span>Senast ändrad av:</span> <span>{{data.userIdNew || data.userId}}</span>
      </div>

      <div class="meta-toolbar-spacer"></div>

      <div class="meta-toolbar-item">
        <span>ID:</span> <span>{{data.id}}</span>
      </div>

    </mat-toolbar>

</div>
