<div *ngIf="data">

  <md-toolbar class="action-toolbar">
    <h1>
       Arbetsplatskod: {{data.arbetsplatskod}}
    </h1>
    <div class="action-toolbar-spacer"></div>
    <app-back-button class="action-toolbar-item"></app-back-button>
    <a class="action-toolbar-item" md-fab routerLink="edit" mdTooltip="Redigera arbetsplatskod" *ngIf="userHasEditPermission(data) && getStatus(data) !== 'closed' && getStatus(data) !== 'fullyClosed'">
      <md-icon>edit</md-icon>
    </a>
  </md-toolbar>

    <md-card class="example-card">

      <md-card-content>

        <div class="apk-details-item">
          <div class="apk-details-item-label">Benämning</div>
          <div class="apk-details-item-data">
            {{data.benamning}}
          </div>
        </div>

        <div class="apk-details-item">
          <div class="apk-details-item-label">HSA-ID</div>
          <div class="apk-details-item-data">
            {{data.hsaid}}
          </div>
        </div>

        <div class="apk-details-item">
          <div class="apk-details-item-label">Adress</div>
          <div class="apk-details-item-data">
            {{data.postadress}}
          </div>
        </div>

        <div class="apk-details-item">
          <div class="apk-details-item-label">Postnummer</div>
          <div class="apk-details-item-data">
            {{data.postnr}}
          </div>
        </div>

        <div class="apk-details-item">
          <div class="apk-details-item-label">Postort</div>
          <div class="apk-details-item-data">
            {{data.postort}}
          </div>
        </div>


        <div class="apk-details-item">
          <div class="apk-details-item-label">ID</div>
          <div class="apk-details-item-data">
            {{data.id}}
          </div>
        </div>

        <!--
        <div class="apk-details-item">
          <div class="apk-details-item-label"></div>
          <div class="apk-details-item-data"></div>
        </div>
        -->


      </md-card-content>
    </md-card>


</div>
