<md-card>

  <md-card-content>
    <md-toolbar class="action-toolbar">
      <div class="action-toolbar-spacer"></div>

      <button class="action-toolbar-item" mdTooltip="{{showFilter ? 'Göm' : 'Visa'}} filter" md-fab (click)="showFilter = !showFilter">
        <md-icon>filter_list</md-icon>
      </button>

      <a  class="action-toolbar-item"routerLink="create" md-fab mdTooltip="Lägg till ny Summeringsnivå 2">
        <md-icon>add</md-icon>
      </a>
    </md-toolbar>
  </md-card-content>

  <md-card-content [@slideIn]="showFilter ? 'in' : 'out'">
    <md-chip-list id="prodn1ChipList">
      <md-chip *ngFor="let prodn1 of prodn1s$ | async" selected="{{isSelected(prodn1)}}" (click)="toggle(prodn1)">
        {{prodn1.foretagsnamn}}
      </md-chip>
    </md-chip-list>
  </md-card-content>

  <md-card-content>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Avdelning</th>
        <th>Kortnamn</th>
        <th>Producent-ID</th>
        <th>N1</th>
        <th>Riktvärde</th>
        <th>Autoradering</th>
        <th>Raderad</th>
        <th>Används ej</th>
        <th>Redigera</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prodn2 of response?.content">
        <td>{{prodn2.id}}</td>
        <td>{{prodn2.avdelning}}</td>
        <td>{{prodn2.kortnamn}}</td>
        <td>{{prodn2.producentid}}</td>
        <td *ngIf="orphanProdn2s.indexOf(prodn2.n1) > -1" mdTooltip="Finns ingen summeringsnivå 1 med denna kod"
            [ngClass]="'circle-alert'">{{prodn2.n1}}
        </td>
        <td *ngIf="orphanProdn2s.indexOf(prodn2.n1) === -1">{{prodn2.n1}}</td>
        <td>{{prodn2.riktvarde}}</td>
        <td>{{prodn2.autoradering}}</td>
        <td>
          <md-icon mdTooltip="Markerad som raderad" *ngIf="prodn2.raderad">clear</md-icon>
        </td>
        <td>
          <!--
                    <md-icon mdTooltip="Används inte i någon arbetsplatskod" *ngIf="orphanProdn1s.indexOf(prodn1.id) > -1">
                      warning
                    </md-icon>
          -->
        </td>
        <td><a routerLink="{{prodn2.producentid}}/edit">
          <md-icon>edit</md-icon>
        </a></td>
      </tr>
      </tbody>
    </table>
  </md-card-content>

  <md-card-actions *ngIf="response?.content">
    <button *ngIf="response?.number > 0" (click)="previousPage()" md-button><md-icon>arrow_back</md-icon> Föregående</button>
    <button (click)="nextPage()" md-button>Nästa <md-icon>arrow_forward</md-icon></button>

    <div class="search-summary">
      Visar sida {{response?.number + 1}} av {{response?.totalPages}}. Totalt antal: {{response?.totalElements}}
    </div>
  </md-card-actions>
</md-card>
