<mat-toolbar class="action-toolbar">
  <h1>
    Concise SumNivå 2
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a  class="action-toolbar-item"routerLink="create" mat-fab matTooltip="Lägg till ny Concise SumNivå 2"><mat-icon>add</mat-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<p>
  Redigera mellannivå för Concise organisation. Redigerat namn ersätter automatiskt tidigare namn i hela APK.
</p>

<mat-card>

  <mat-card-title class="edge2edge">
    <mat-toolbar class="action-toolbar">
      <div class="action-toolbar-spacer"></div>

      <button class="action-toolbar-item" matTooltip="{{showFilter ? 'Göm' : 'Visa'}} filter" (click)="showFilter = !showFilter">
        <mat-icon>filter_list</mat-icon>
      </button>

    </mat-toolbar>
  </mat-card-title>

  <mat-card-content *ngIf="showFilter">

    <div>
      <mat-form-field>
        <mat-select placeholder="Visa bara för Concise SumNivå 1" [formControl]="filterProdn1" (change)="onFilterProdn1Change()">
          <mat-option value="">Visa alla</mat-option>
          <mat-option *ngFor="let prodn1 of prodn1s$ | async" [value]="prodn1.id">
            {{prodn1.kortnamn}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card-content>

  <mat-card-content>

    <table class="apk-table prod2-table">
      <thead>
      <tr>
        <th class="row-prod1">Concise SumNivå 1</th>
        <th class="row-short-name">Concise SumNivå 2</th>
        <th class="row-status">Status</th>
        <th class="row-menu"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prodn2 of response?.content">
        <td>
          <span *ngIf="!prodn2.prodn1" matTooltip="Finns ingen Concise SumNivå 1 med denna kod"
              [ngClass]="'circle-alert'">{{prodn2.n1}}
          </span>

          <span matTooltip="{{prodn2.prodn1.kortnamn?.length > 20}}">{{prodn2.prodn1.kortnamn | ellipsis:20}}</span>
        </td>
        <td>
          <span matTooltip="{{prodn2.kortnamn?.length > 30 ? prodn2.kortnamn : null}}">{{prodn2.kortnamn | ellipsis:30}}</span>
        </td>
        <td>
          <mat-icon matTooltip="Markerad som raderad" *ngIf="prodn2.raderad">clear</mat-icon>
          {{prodn2.autoradering}}
        </td>
        <td>
          <a routerLink="{{prodn2.id}}/edit" matTooltip="Redigera">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>

  <mat-card-actions *ngIf="response?.content">
    <mat-toolbar class="paging-toolbar">
      <div *ngIf="response" class="search-summary">
        Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
      </div>
      <div class="paging-toolbar-spacer"></div>
      <button (click)="previousPage()" mat-button [disabled]="response.first"><mat-icon>arrow_back</mat-icon> Föregående</button>
      <button (click)="nextPage()" mat-button [disabled]="response.last">Nästa <mat-icon>arrow_forward</mat-icon></button>
    </mat-toolbar>
  </mat-card-actions>
</mat-card>
