<md-input-container>
  <input mdInput placeholder="Filtrera" [formControl]="stateCtrl" [(ngModel)]="query"
         >
</md-input-container>

<a routerLink="create" md-fab><md-icon>add</md-icon></a>

<table *ngIf="response">
  <thead>
  <tr>
    <th>Prod</th>
    <th>Benämning</th>
    <th>Arbetsplatskod</th>
    <th>id</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of response.content">
    <td>{{data.sorteringskodProd}}</td>
    <td>{{data.benamning}}</td>
    <td>{{data.arbetsplatskod}}</td>
    <td>{{data.id}}</td>
    <td><a routerLink="{{data.id}}"><md-icon>folder_open</md-icon></a></td>
    <td><a routerLink="{{data.id}}/edit"><md-icon>edit</md-icon></a></td>
  </tr>
  </tbody>

</table>

<div *ngIf="response">
  Visar sida {{response.number + 1}} av {{response.totalPages}}. Totalt antal: {{response.totalElements}}
</div>
<div>
  <button (click)="previousPage()">Föregående</button>
  <button (click)="nextPage()">Nästa</button>
</div>
