# Location [user.home]/.app/arbetsplatskoder
url=jdbc:jtds:sqlserver://machine:62212/db;instance=instanceId;databaseName=db;integratedSecurity=true;authenticationScheme=JavaKerberos;domain=domainName
driver=net.sourceforge.jtds.jdbc.Driver
user=userName
password=secret123
old.code=C:\\workspace\\kod-apk
