<md-toolbar class="action-toolbar">
  <h1>
    Vårdform
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" class="action-toolbar-item"routerLink="create" md-fab mdTooltip="Lägg till ny vårdform"><md-icon>add</md-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</md-toolbar>

<md-card>

  <md-card-content>

    <table class="apk-table vardform-table">
      <thead>
      <tr>
        <th class="row-vardform-id">Vårdform-ID</th>
        <th class="row-vardform-text">Vårdformtext</th>
        <th class="row-status">Status</th>
        <th class="row-menu"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vardform of vardforms$ | async">
        <td>{{vardform.vardformid}}</td>
        <td>{{vardform.vardformtext}}</td>
        <td>
          <md-icon mdTooltip="Markerad som raderad" *ngIf="vardform.raderad">clear</md-icon>
        </td>

        <td>
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item routerLink="{{vardform.id}}/edit">
              <md-icon>edit</md-icon>
              <span>Redigera</span>
            </button>
          </md-menu>
        </td>
      </tr>
      </tbody>
    </table>
  </md-card-content>

</md-card>
