<mat-toolbar class="action-toolbar">
  <h1>
    Vårdform
  </h1>
  <div class="action-toolbar-spacer"></div>
  <a class="action-toolbar-item" class="action-toolbar-item"routerLink="create" mat-fab matTooltip="Lägg till ny vårdform"><mat-icon>add</mat-icon></a>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<p>
  Arbetsplatsens huvudinriktning enligt eHälsomyndigheten.
</p>

<mat-card>

  <mat-card-content>

    <table class="apk-table vardform-table">
      <thead>
      <tr>
        <th class="row-vardform-id">Vårdform-ID</th>
        <th class="row-vardform-text">Vårdformtext</th>
        <th class="row-status">Status</th>
        <th class="row-menu"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vardform of vardforms$ | async">
        <td>{{vardform.vardformid}}</td>
        <td>{{vardform.vardformtext}}</td>
        <td>
          <mat-icon matTooltip="Markerad som raderad" *ngIf="vardform.raderad">clear</mat-icon>
        </td>

        <td>
          <a routerLink="{{vardform.id}}/edit" matTooltip="Redigera">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>

</mat-card>
