/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

a.active {
  font-weight: bold;
}

.example-card {
  width: 400px;
  margin-bottom: 24px;
}

.example-card {
  overflow: hidden;
}

.mat-sidenav-content {
  padding: 12px;
}

.mat-sidenav {
  border-right: 1px solid #dedede;
}

div.mat-autocomplete-panel {
  max-width: none;
}

.submitted.ng-invalid {
  .field-label, .mat-select-trigger {
    color: red;
  }
}

.apk-validate .ng-valid.ng-touched .mat-input-underline {
  border-top-width: 2px;
}

.apk-validate .ng-valid.ng-touched .mat-select-underline {
  background-color: green;
  height: 2px;
}

.apk-validate .ng-valid.ng-touched .mat-input-underline,
.apk-validate .ng-valid.ng-touched .mat-radio-outer-circle {
  border-color: green;
}

table {
  td, th {
    padding-right: 8px;
    text-align: left;
  }
}
