/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'assets/vendor/mincss/mincss.css';

@import 'assets/scss/utilities/variables';
@import 'assets/scss/utilities/mixins';

@import 'assets/scss/theme/apk-material-theme';

@import 'node_modules/ladda/css/ladda';
@import 'node_modules/ladda/css/ladda-themed';

@import 'assets/scss/utilities/scaffolding';

@import 'assets/scss/_styles-old';

@import 'assets/scss/atoms/body';
@import 'assets/scss/atoms/container';
@import 'assets/scss/atoms/fieldset';
@import 'assets/scss/atoms/headings';
@import 'assets/scss/atoms/label';
@import 'assets/scss/atoms/legend';
@import 'assets/scss/atoms/links';
@import 'assets/scss/atoms/table';

@import 'assets/scss/molecules/mat-button';
@import 'assets/scss/molecules/mat-chip-list';
@import 'assets/scss/molecules/mat-card';
@import 'assets/scss/molecules/mat-divider';
@import 'assets/scss/molecules/mat-fab';
@import 'assets/scss/molecules/mat-input-container';
@import 'assets/scss/molecules/mat-option';
@import 'assets/scss/molecules/mat-radio-group';
@import 'assets/scss/molecules/mat-select';
@import 'assets/scss/molecules/mat-sidenav-container';
@import 'assets/scss/molecules/mat-tooltip';
@import 'assets/scss/molecules/action-toolbar';
@import 'assets/scss/molecules/alert';
@import 'assets/scss/molecules/apk-details-item';
@import 'assets/scss/molecules/apk-details';
@import 'assets/scss/molecules/apk-dialog';
@import 'assets/scss/molecules/apk-form';
@import 'assets/scss/molecules/apk-reports';
@import 'assets/scss/molecules/apk-table';
@import 'assets/scss/molecules/apk-validate';
@import 'assets/scss/molecules/autocomplete';
@import 'assets/scss/molecules/block-navigation';
@import 'assets/scss/molecules/btn-container';
@import 'assets/scss/molecules/bubble';
@import 'assets/scss/molecules/button-row';
@import 'assets/scss/molecules/checkbox-container';
@import 'assets/scss/molecules/circle-alert';
@import 'assets/scss/molecules/edge-to-edge';
@import 'assets/scss/molecules/edit-toolbar';
@import 'assets/scss/molecules/form-element';
@import 'assets/scss/molecules/info-card';
@import 'assets/scss/molecules/ladda-custom';
@import 'assets/scss/molecules/link-box';
@import 'assets/scss/molecules/load-link';
@import 'assets/scss/molecules/meta-toolbar';
@import 'assets/scss/molecules/menu-bar';
@import 'assets/scss/molecules/paging-toolbar';
@import 'assets/scss/molecules/sort-button';
@import 'assets/scss/molecules/user-avatar';

@import 'assets/scss/organisms/footer';
@import 'assets/scss/organisms/content';
@import 'assets/scss/organisms/header';
@import 'assets/scss/organisms/mat-card';
@import 'assets/scss/organisms/mat-sidenav';

/* TODO Blame - put in more appropriate place */
.material-icons {
  font-feature-settings: "liga";
}

.loading-indicator {
  display: block;
  text-align: center;
  margin-top: calc(50vh - 50px);
}

.icon.icon-spinner {
  animation: rotate .8s infinite;
  animation-timing-function: cubic-bezier(0.495, 0.405, 0.495, 0.635);
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 2px solid #005c95;
  border-bottom: 0;
  border-radius: 50%;
  border-left: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
