/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-sidenav-content {
  padding: 12px;
}

.mat-sidenav {
  border-right: 1px solid #dedede;
}

div.mat-autocomplete-panel {
  max-width: none;
}

.submitted.ng-invalid .field-label {
  color: red;
}
