<mat-toolbar class="action-toolbar">
  <h1>
     {{prodn1.kortnamn === undefined ? 'Lägg till ny Concise SumNivå 1' : 'Redigera ' + prodn1.kortnamn}}
  </h1>
  <div class="action-toolbar-spacer"></div>
  <app-back-button class="action-toolbar-item"></app-back-button>
  <app-sidenav-toggle-button class="action-toolbar-item"></app-sidenav-toggle-button>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-content>

    <div *ngIf="prodn1Form; else loading">

      <form #formRef="ngForm" [formGroup]="prodn1Form" (ngSubmit)="save()" novalidate>

        <mat-input-container>
          <input placeholder="ID" type="text" matInput formControlName="id"/>
        </mat-input-container>

        <mat-input-container>
          <input placeholder="Concise SumNivå 1" type="text" matInput formControlName="kortnamn"/>
        </mat-input-container>

        <div class="checkbox-container">
          <mat-checkbox formControlName="raderad">Raderad</mat-checkbox>
        </div>

        <div class="btn-container">
          <button type="submit"
                  [disabled]="prodn1Form.pristine" mat-raised-button class="btn btn-success">Spara
          </button> &nbsp;
          <button type="button"
                  [disabled]="prodn1Form.pristine" mat-raised-button class="btn" (click)="resetForm()">Återställ
          </button> &nbsp;
          {{saveMessage}}
        </div>
      </form>

    </div>

    <ng-template #loading>Läser in...</ng-template>

  </mat-card-content>
</mat-card>
