<div *ngIf="apkForm; else loading">
  <form #theForm="ngForm" [formGroup]="apkForm" (ngSubmit)="save()"
        novalidate>

      <md-toolbar class="meta-toolbar" *ngIf="data.arbetsplatskodlan">

        <div class="meta-toolbar-item">
          <span>Skapad:</span> <span>{{data.regDatum | dateX: 'YYYY-MM-DD HH:mm'}}</span>
        </div>

        <div class="meta-toolbar-item">
          <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
        </div>

        <div class="meta-toolbar-item">
          <span>Senast ändrad av:</span> <span>{{data.userIdNew || data.userId}}</span>
        </div>

        <div class="meta-toolbar-spacer"></div>

        <div class="meta-toolbar-item">
          <span>ID:</span> <span>{{data.id}}</span>
        </div>

      </md-toolbar>


    <md-card class="example-card">
      <md-card-content>

        <h3>Välj ägarform</h3>

        <md-radio-group formControlName="agarform" class="col-2">
          <md-radio-button value="1">Landsting</md-radio-button>
          <md-radio-button value="2">Kommun</md-radio-button>
          <md-radio-button value="3">Statlig</md-radio-button>
          <md-radio-button value="4">Privat, vårdavtal</md-radio-button>
          <md-radio-button value="5">Privat, enl lag om läkarvårdsersättning</md-radio-button>
          <md-radio-button value="6">Privat, utan offentlig finansiering</md-radio-button>
          <md-radio-button value="7">Kommunförbund</md-radio-button>
          <md-radio-button value="8">Övrigt</md-radio-button>
        </md-radio-group>

        <md-divider class="space-vertical" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'"></md-divider>

        <div class="checkbox-container" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
          <md-checkbox align="end" formControlName="groupCode">Gruppkod</md-checkbox>
          <md-icon mdTooltip="Förklaring...">help</md-icon>
        </div>

      </md-card-content>

    </md-card>

    <md-card [@slideIn]="apkForm.value.agarform === '1' || apkForm.value.agarform === '4' ? 'in' :'out'" class="example-card">

      <md-card-content>
        <h3>Sök efter enhet i KIV</h3>

        <md-input-container>
          <input placeholder="Skriv in enhetsnamn / verksamhetsnamn etc" type="text" mdInput [mdAutocomplete]="unitAutocompleteRef"
                 formControlName="unitSearch">
        </md-input-container>

        <md-autocomplete class="autocomplete" #unitAutocompleteRef="mdAutocomplete" [displayWith]="displayUnitFn">
          <md-option class="md-option" *ngFor="let unit of unitSearchResult" [value]="unit">
            {{dnToFriendly(unit.dn)}}
          </md-option>
        </md-autocomplete>

        <div [@slideIn]="apkForm.value.unitSearch?.dn ? 'in': 'out'">
          <div><span class="label">Enhetens sökväg: </span><span style="word-break: break-all">{{dnToFriendly(apkForm.value.unitSearch?.dn)}}</span></div>

          <h3>Uppgifter som kan fyllas i:</h3>
          <p>
            <span class="label">Postadress: </span><span>{{getAddressObject(apkForm.value.unitSearch).postadress}}</span><br/>
            <span class="label">Postnummer: </span><span>{{getAddressObject(apkForm.value.unitSearch).postnr}}</span><br/>
            <span class="label">Postort: </span><span>{{getAddressObject(apkForm.value.unitSearch).postort}}</span><br/>
            <span class="label">Motkod: </span><span>{{displayAo3Fn(ao3IdMap.get(firstValue(apkForm.value?.unitSearch?.attributes?.vgrAo3kod)))}}</span><br/>
            <span class="label">HSA-ID: </span><span>{{apkForm.value?.unitSearch?.attributes?.hsaIdentity}}</span><br/>
            <span class="label">Benämning: </span><span>{{apkForm.value?.unitSearch?.attributes?.ou}}</span><br/>
          </p>

          <button type="button" md-raised-button (click)="selectUnit(apkForm.value.unitSearch)">Fyll i uppgifter</button>
          <span><md-icon mdTooltip="Fyll i egenskaper från enheten i fälten nedan">help</md-icon></span>
        </div>

      </md-card-content>

    </md-card>

    <div class="apk-validate">

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange ekonomiska koder</h3>

          <md-input-container>
            <input placeholder="Ao3" type="text" mdInput [mdAutocomplete]="ao3AutocompleteRef"
                   formControlName="ao3">
          </md-input-container>

          <md-autocomplete class="autocomplete" #ao3AutocompleteRef="mdAutocomplete" [displayWith]="displayAo3Fn">
            <md-option class="md-option" *ngFor="let option of filteredAo3Options | async" [value]="option">
              {{ option.ao3id}} - {{ option.foretagsnamn }}
            </md-option>
          </md-autocomplete>

          <md-input-container>
            <input mdInput placeholder="Ansvar" formControlName="ansvar" type="text"/>
            <md-icon mdTooltip="Förklaring...">help</md-icon>
          </md-input-container>

          <md-input-container *ngIf="apkForm.value.agarform === '4' || apkForm.value.agarform === '5' || apkForm.value.agarform === '6'">
            <textarea mdInput placeholder="Frivillig uppgift" formControlName="frivilligUppgift" rows="3"></textarea>
            <md-icon mdTooltip="Förklaring...">help</md-icon>
          </md-input-container>

          <div formGroupName="externfakturaGroup" ngClass="{{theForm.submitted ? 'submitted' : ''}}" class="form-element">
            <label class="field-label">Faktureras externt</label>
            <md-radio-group formControlName="externfakturamodell">
              <md-radio-button value="nej">Nej</md-radio-button>
              <md-radio-button value="ovr">Ja
              </md-radio-button>
            </md-radio-group>
          </div>

          <div formGroupName="vgpvGroup" ngClass="{{theForm.submitted ? 'submitted' : ''}}" class="form-element">
            <label class="field-label">VGPV</label>
            <md-radio-group formControlName="vgpv">
              <md-radio-button value="true">Ja</md-radio-button>
              <md-radio-button value="false">Nej</md-radio-button>
            </md-radio-group>
          </div>

        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange vårdadministrativa koder</h3>

          <md-input-container>
            <input placeholder="Vårdform" type="text" mdInput
                   [mdAutocomplete]="vardformAutocompleteRef" formControlName="vardform">
          </md-input-container>

          <md-autocomplete class="autocomplete" #vardformAutocompleteRef="mdAutocomplete"
                           [displayWith]="displayVardformFn">
            <md-option class="md-option" *ngFor="let option of filteredVardformOptions | async" [value]="option">
              {{ option.vardformid}} - {{ option.vardformtext }}
            </md-option>
          </md-autocomplete>

          <md-input-container>
            <input placeholder="Medicinsk verksamhetskod" type="text" mdInput
                   [mdAutocomplete]="verksamhetAutocompleteRef" formControlName="verksamhet" name="verksamhet">
          </md-input-container>

          <md-autocomplete class="autocomplete" #verksamhetAutocompleteRef="mdAutocomplete"
                           [displayWith]="displayVerksamhetFn">
            <md-option class="md-option" *ngFor="let option of filteredVerksamhetOptions | async" [value]="option">
              {{ option.verksamhetid}} - {{ option.verksamhettext }}
            </md-option>
          </md-autocomplete>

        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Välj summeringsnivå</h3>

          <div>
            <md-select placeholder="Summeringsnivå 1" formControlName="prodn1" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn1 of allProdn1s" [value]="prodn1">
                {{prodn1.foretagsnamn}}
              </md-option>
            </md-select>
          </div>

          <div>
            <md-select placeholder="Summeringsnivå 2" formControlName="prodn2" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn2 of prodn2Options" [value]="prodn2">
                {{prodn2.avdelning}}
              </md-option>
            </md-select>
          </div>

          <div>
            <md-select placeholder="Summeringsnivå 3" formControlName="prodn3" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn3 of prodn3Options" [value]="prodn3">
                {{prodn3.foretagsnamn}}
              </md-option>
            </md-select>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange kontaktuppgifter</h3>

          <md-input-container>
            <input placeholder="HSA-ID" mdInput formControlName="hsaid" type="text"/>
          </md-input-container>

          <md-input-container>
            <input placeholder="Benämning/enhetsnamn - Tas från KIV? +att man måste ha kortnamn för att det ska gå igenom i Concise"
              type="text" mdInput formControlName="benamning" name="banamning">
          </md-input-container>

          <md-input-container>
            <input placeholder="Benämning/enhetsnamn kort version (max 35 tecken)"
              type="text" mdInput formControlName="benamningKort" name="benamningKort" (keydown)="benamningKortKeyDown($event)" maxlength="35">
            <md-icon mdTooltip="Om Benämning/enhetsnamn är längre än 35 tecken behöver ett kortare namn anges">help</md-icon>
          </md-input-container>

          <div formGroupName="addressGroup">
          <md-input-container>
            <input placeholder="Adress" type="text" mdInput formControlName="postadress">
          </md-input-container>

          <md-input-container>
            <input placeholder="Postnummer" type="text" mdInput formControlName="postnr">
          </md-input-container>

          <md-input-container>
            <input placeholder="Postort" type="text" mdInput formControlName="postort">
          </md-input-container>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange giltighetstid</h3>

          <md-input-container class="date">
            <input placeholder="Giltig fr.o.m. (ÅÅÅÅ-MM-DD)" mdInput [mdDatepicker]="fromDatepicker"
                   formControlName="fromDatum">
            <button mdSuffix [mdDatepickerToggle]="fromDatepicker" type="button"></button>
          </md-input-container>

          <md-datepicker #fromDatepicker></md-datepicker>

          <div class="checkbox-container">
            <md-checkbox align="end" formControlName="noTillDatum" #noTillDatumCheckbox>Giltig tills vidare</md-checkbox>
          </div>

          <md-input-container class="date">
            <input placeholder="Giltig t.o.m. (ÅÅÅÅ-MM-DD)" mdInput [mdDatepicker]="toDatepicker"
                   formControlName="tillDatum"/>
            <button mdSuffix [mdDatepickerToggle]="toDatepicker" type="button" [disabled]="noTillDatumCheckbox.checked"></button>
          </md-input-container>

          <md-datepicker startView="year" #toDatepicker></md-datepicker>

        </md-card-content>
      </md-card>


      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange övrig info</h3>

          <md-input-container>
            <textarea placeholder="Anmärkning" mdInput formControlName="anmarkning" rows="6"></textarea>
          </md-input-container>

        </md-card-content>

      </md-card>

      <md-card class="example-card" [@slideIn]="data.arbetsplatskodlan ? 'in' : 'out'">
        <md-card-content>

          <h3>Enhetens arbetsplatskod</h3>

          <p>{{ data.arbetsplatskodlan }} </p>

        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="hasArchivedDatas ? 'in' : 'out'">
        <md-card-content>

          <h3>Tidigare versioner</h3>

          <p><a routerLink="/apk/{{data.id}}/archivedDatas">Se tidigare versioner</a> </p>

        </md-card-content>
      </md-card>

      <button type="submit"
              [disabled]="apkForm.pristine" md-raised-button class="btn btn-success">Spara
      </button> &nbsp;

      <button type="button"
              [disabled]="apkForm.pristine" md-raised-button class="btn btn-success" (click)="resetForm()">Återställ
      </button> &nbsp;

      <span *ngIf="!apkForm.valid">{{saveMessage}}</span>

      <div class="debug" *ngIf="getShowDebug()">

        <br />
        <hr />
        <br />

        <md-card>
          <md-card-title>Debug - search results</md-card-title>
          <md-card-content>
            <pre>
              {{unitSearchResult | json}}
              {{data | json}}
            </pre>
            <!--<pre>dirty: {{ao3Control.dirty | json}}</pre>
            <pre>invalid: {{ao3Control.invalid | json}}</pre>
            <pre>pristine: {{ao3Control.pristine | json}}</pre>
            <pre>status: {{ao3Control.status | json}}</pre>
            <pre>touched: {{ao3Control.touched | json}}</pre>
            <pre>untouched: {{ao3Control.untouched | json}}</pre>
            <pre>value: {{ao3Control.value | json}}</pre>
            <pre>errors: {{ao3Control.errors | json}}</pre>
            <pre>valid: {{ao3Control.valid | json}}</pre>
            -->
            <!--<p>&nbsp;</p>-->
            <!--<apkFormFormapkFormForm.checkValidity | json}}</pre>-->
            <!--<pre>currentForm: {{currentForm | json}}</pre>-->
          </md-card-content>
        </md-card>

        <md-card>
          <md-card-title>Debug info</md-card-title>
          <md-card-content>
            <pre>{{apkForm.value | json}}</pre>
            <pre>{{apkForm.status}}</pre>
            <pre>{{apkForm.controls}}</pre>
            <pre>{{apkForm.get('ao3').errors | json}}</pre>
            <pre>{{apkForm.status}}</pre>
            <pre>{{apkForm.errors}}</pre>
            <pre>{{apkForm.pristine}}</pre>
          </md-card-content>
        </md-card>
      </div>

    </div>
  </form>
</div>

<ng-template #loading>
  Läser in...
</ng-template>
