<div *ngIf="apkForm; else loading">
  <form #theForm="ngForm" [formGroup]="apkForm" (ngSubmit)="save()"
        novalidate>

    <md-card class="example-card">
      <md-card-content>

        <!--
        -->
        <h3>Välj ägarform</h3>

        <!--
        -->
        <md-radio-group formControlName="agarform">
          <md-radio-button value="1">Landsting</md-radio-button>
          <md-radio-button value="2">Kommun</md-radio-button>
          <md-radio-button value="3">Statlig</md-radio-button>
          <md-radio-button value="4">Privat, vårdavtal</md-radio-button>
          <md-radio-button value="5">Privat, enl lag om läkarvårdsersättning</md-radio-button>
          <md-radio-button value="6">Privat, utan offentlig finansiering</md-radio-button>
          <md-radio-button value="7">Kommunförbund</md-radio-button>
          <md-radio-button value="8">Övrigt</md-radio-button>
        </md-radio-group>



        <!--
        <md-button-toggle-group formControlName="agarform">
          <md-button-toggle value="1">Landsting</md-button-toggle>
          <md-button-toggle value="2">Kommun</md-button-toggle>
          <md-button-toggle value="3">Statlig</md-button-toggle>
          <md-button-toggle value="4">Privat, vårdavtal</md-button-toggle>
          <md-button-toggle value="5">Privat, enl lag om läkarvårdsersättning</md-button-toggle>
          <md-button-toggle value="6">Privat, utan offentlig finansiering</md-button-toggle>
          <md-button-toggle value="7">Kommunförbund</md-button-toggle>
          <md-button-toggle value="8">Övrigt</md-button-toggle>
        </md-button-toggle-group>
        -->

        <!--

        <md-select placeholder="Ägarform" formControlName="agarform" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
          <md-option class="md-option" value="1">Landsting</md-option>
          <md-option class="md-option" value="2">Kommun</md-option>
          <md-option class="md-option" value="3">Statlig</md-option>
          <md-option class="md-option" value="4">Privat, vårdavtal</md-option>
          <md-option class="md-option" value="5">Privat, enl lag om läkarvårdsersättning</md-option>
          <md-option class="md-option" value="6">Privat, utan offentlig finansiering</md-option>
          <md-option class="md-option" value="7">Kommunförbund</md-option>
          <md-option class="md-option" value="8">Övrigt</md-option>
        </md-select>
        -->

      </md-card-content>

    </md-card>

    <md-card [@slideIn]="apkForm.value.agarform === '1' || apkForm.value.agarform === '4' || apkForm.value.agarform === '5' || apkForm.value.agarform === '6' ? 'in' :'out'" class="example-card">

      <md-card-content>
        <h3>Sök efter enhet i KIV</h3>

        <md-input-container>
          <input placeholder="Skriv in enhetsnamn / verksamhetsnamn etc" type="text" mdInput [mdAutocomplete]="unitAutocompleteRef"
                 formControlName="unitSearch">
        </md-input-container>

        <md-autocomplete class="autocomplete" #unitAutocompleteRef="mdAutocomplete" [displayWith]="displayUnitFn">
          <md-option class="md-option" *ngFor="let unit of unitSearchResult" [value]="unit">
            {{unit.dn}}
          </md-option>
        </md-autocomplete>

        <div [@slideIn]="apkForm.value.unitSearch?.dn ? 'in': 'out'">
          <div class="label">Enhetens sökväg</div>
          <div style="word-break: break-all">{{apkForm.value.unitSearch?.dn}}</div>
          <button type="button" md-raised-button (click)="selectUnit(apkForm.value.unitSearch)">Använd</button>
          <span><md-icon mdTooltip="Fyll i egenskaper från enheten i fälten nedan">help</md-icon></span>
        </div>

      </md-card-content>


      <md-card-content [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
      </md-card-content>

    </md-card>


    <div class="apk-validate">

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Välj verksamhetstyp och koder</h3>

          <md-input-container>
            <input placeholder="Ao3" type="text" mdInput [mdAutocomplete]="ao3AutocompleteRef"
                   formControlName="ao3">
          </md-input-container>

          <md-autocomplete class="autocomplete" #ao3AutocompleteRef="mdAutocomplete" [displayWith]="displayAo3Fn">
            <md-option class="md-option" *ngFor="let option of filteredAo3Options | async" [value]="option">
              {{ option.ao3id}} - {{ option.foretagsnamn }}
            </md-option>
          </md-autocomplete>

          <md-input-container>
            <input mdInput placeholder="Ansvar" formControlName="ansvar" type="text"/>
            <md-icon mdTooltip="Förklaring...">help</md-icon>
          </md-input-container>

          <md-input-container *ngIf="apkForm.value.agarform === '4' || apkForm.value.agarform === '5' || apkForm.value.agarform === '6'">
            <textarea mdInput placeholder="Frivillig uppgift" formControlName="frivilligUppgift" rows="3"></textarea>
            <md-icon mdTooltip="Förklaring...">help</md-icon>
          </md-input-container>

          <md-input-container>
            <input placeholder="Vårdform" type="text" mdInput
                   [mdAutocomplete]="vardformAutocompleteRef" formControlName="vardform">
          </md-input-container>

          <md-autocomplete class="autocomplete" #vardformAutocompleteRef="mdAutocomplete"
                           [displayWith]="displayVardformFn">
            <md-option class="md-option" *ngFor="let option of filteredVardformOptions | async" [value]="option">
              {{ option.vardformid}} - {{ option.vardformtext }}
            </md-option>
          </md-autocomplete>

          <md-input-container>
            <input placeholder="Medicinsk verksamhetskod" type="text" mdInput
                   [mdAutocomplete]="verksamhetAutocompleteRef" formControlName="verksamhet" name="verksamhet">
          </md-input-container>

          <md-autocomplete class="autocomplete" #verksamhetAutocompleteRef="mdAutocomplete"
                           [displayWith]="displayVerksamhetFn">
            <md-option class="md-option" *ngFor="let option of filteredVerksamhetOptions | async" [value]="option">
              {{ option.verksamhetid}} - {{ option.verksamhettext }}
            </md-option>
          </md-autocomplete>

        </md-card-content>
      </md-card>


      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Välj summeringsnivå</h3>

          <div>
            <md-select placeholder="Summeringsnivå 1" formControlName="sorteringsniva1" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn1 of allProdn1s" [value]="prodn1.producentid">
                {{prodn1.producentid}} - {{prodn1.foretagsnamn}}
              </md-option>
            </md-select>
          </div>

          <div>
            <md-select placeholder="Summeringsnivå 2" formControlName="sorteringsniva2" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn2 of prodn2Options" [value]="prodn2.producentid">
                {{prodn2.producentid}} - {{prodn2.avdelning}}
              </md-option>
            </md-select>
          </div>

          <div>
            <md-select placeholder="Summeringsnivå 3" formControlName="sorteringsniva3" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
              <md-option *ngFor="let prodn3 of prodn3Options" [value]="prodn3.producentid">
                {{prodn3.producentid}} - {{prodn3.foretagsnamn}}
              </md-option>
            </md-select>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <h3>Ange kontaktuppgifter</h3>

          <md-input-container>
            <input placeholder="Län" type="text" mdInput formControlName="lankod">
          </md-input-container>

          <md-input-container>
            <input placeholder="Benämning/enhetsnamn - Tas från KIV? +att man måste ha kortnamn för att det ska gå igenom i Concise"
              type="text" mdInput formControlName="benamning" name="banamning">
          </md-input-container>

          <div formGroupName="addressGroup">
          <md-input-container>
            <input placeholder="Adress" type="text" mdInput formControlName="postadress">
          </md-input-container>

          <md-input-container>
            <input placeholder="Postnummer" type="text" mdInput formControlName="postnr">
          </md-input-container>

          <md-input-container>
            <input placeholder="Postort" type="text" mdInput formControlName="postort">
          </md-input-container>
          </div>
        </md-card-content>
      </md-card>

      <md-card class="example-card" [@slideIn]="apkForm.value.agarform ? 'in' : 'out'">
        <md-card-content>

          <div formGroupName="externfakturaGroup" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
            <label class="field-label">Faktureras externt</label>
            <md-radio-group formControlName="externfakturamodell">
              <md-radio-button value="nej">Nej</md-radio-button>
              <md-radio-button value="gothenburg">Göteborg (aldrig valt, tas bort?)</md-radio-button>
              <md-radio-button value="ovr">Övriga</md-radio-button>
            </md-radio-group>
          </div>

          <div class="checkbox-container">
            <md-checkbox align="end" formControlName="groupCode">Gruppkod</md-checkbox>
          </div>

          <div formGroupName="vgpvGroup" ngClass="{{theForm.submitted ? 'submitted' : ''}}">
            <label class="field-label">VGPV</label>
            <md-radio-group formControlName="vgpv">
              <md-radio-button value="true">Ja</md-radio-button>
              <md-radio-button value="false">Nej</md-radio-button>
            </md-radio-group>
          </div>

          <md-input-container>
            <textarea placeholder="Anmärkning" mdInput formControlName="anmarkning" rows="6"></textarea>
          </md-input-container>

          <md-input-container>
            <input placeholder="HSA-ID" mdInput formControlName="hsaid" type="text"/>
          </md-input-container>

          <md-input-container>
            <input placeholder="Giltig fr.o.m. (ÅÅÅÅ-MM-DD) (TODO mer sofistikerad validering)" type="text" mdInput
                   formControlName="fromDatum"/>
          </md-input-container>

          <div class="checkbox-container">
            <md-checkbox align="end" formControlName="noTillDatum">Giltig tills vidare</md-checkbox>
          </div>

          <md-input-container>
            <input placeholder="Giltig t.o.m. (ÅÅÅÅ-MM-DD) (TODO mer sofistikerad validering)" type="text" mdInput
                   formControlName="tillDatum"/>
          </md-input-container>

          <div>
            <span>Registrerad:</span> <span>{{data.regDatum}}</span>
          </div>
          <div>
            <span>Registrerad av:</span> <span>{{data.userIdNew || data.userId}}</span>
          </div>
          <div>
            <span>Ändrad:</span> <span>{{data.andringsdatum}}</span>
          </div>
        </md-card-content>

      </md-card>

      <md-card class="example-card" [@slideIn]="data.arbetsplatskod ? 'in' : 'out'">
        <md-card-content>

          <h3>Enhetens arbetsplatskod</h3>

          <p>{{ data.arbetsplatskod }} </p>
          <!--
          <md-input-container>
            <input placeholder="Arbetsplatskod" type="text" mdInput formControlName="arbetsplatskod">
          </md-input-container>
          -->

        </md-card-content>
      </md-card>


      <button type="submit"
              [disabled]="apkForm.pristine" md-raised-button class="btn btn-success">Spara
      </button> &nbsp;
      <button type="button"
              [disabled]="apkForm.pristine" md-raised-button class="btn btn-success" (click)="resetForm()">Återställ
      </button> &nbsp;
      <span *ngIf="!apkForm.valid">{{saveMessage}}</span>

      <br />
      <hr />
      <br />

      <md-card>
        <md-card-title>Debug - search results</md-card-title>
        <md-card-content>
          <pre>
            {{unitSearchResult | json}}
            {{data | json}}
          </pre>
          <!--<pre>dirty: {{ao3Control.dirty | json}}</pre>
          <pre>invalid: {{ao3Control.invalid | json}}</pre>
          <pre>pristine: {{ao3Control.pristine | json}}</pre>
          <pre>status: {{ao3Control.status | json}}</pre>
          <pre>touched: {{ao3Control.touched | json}}</pre>
          <pre>untouched: {{ao3Control.untouched | json}}</pre>
          <pre>value: {{ao3Control.value | json}}</pre>
          <pre>errors: {{ao3Control.errors | json}}</pre>
          <pre>valid: {{ao3Control.valid | json}}</pre>
          -->
          <!--<p>&nbsp;</p>-->
          <!--<apkFormFormapkFormForm.checkValidity | json}}</pre>-->
          <!--<pre>currentForm: {{currentForm | json}}</pre>-->
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>Debug info</md-card-title>
        <md-card-content>
          <pre>{{apkForm.value | json}}</pre>
          <pre>{{apkForm.status}}</pre>
          <pre>{{apkForm.controls}}</pre>
          <pre>lankod touched: {{apkForm.controls.lankod.touched}}</pre>
          <pre>{{apkForm.get('ao3').errors | json}}</pre>
          <pre>{{apkForm.status}}</pre>
          <pre>{{apkForm.errors}}</pre>
          <pre>{{apkForm.pristine}}</pre>
        </md-card-content>
      </md-card>

    </div>
  </form>
</div>

<ng-template #loading>
  Läser in...
</ng-template>
